# sensitive files
credentials.json
.json
.env
.env.*
requirements.txt

# venv/
__pycache__/
*.py[cod]

# Terraform 
*.tfstate
*.tfstate.backup
.terraform/
variables.tf

# IDE files
.DS_Store
Thumbs.db

